compatibility_level = 3.11
myhostname = MAILWISP_SMTP_HOST
myorigin = $myhostname
mydestination =
inet_interfaces = all
inet_protocols = all

relay_domains = MAILWISP_PUBLIC_DOMAINS
relay_transport = lmtp:inet:127.0.0.1:2525
address_verify_relay_transport = lmtp:inet:127.0.0.1:2525
address_verify_map = lmdb:$data_directory/verify_cache
address_verify_positive_refresh_time = 1s
address_verify_positive_expire_time = 2s
address_verify_negative_refresh_time = 1s
address_verify_negative_expire_time = 2s
address_verify_poll_delay = 1s
address_verify_poll_count = 3
unverified_recipient_reject_code = 550

smtpd_banner = $myhostname ESMTP
disable_vrfy_command = yes
smtpd_helo_required = yes
smtpd_delay_reject = yes
smtpd_recipient_restrictions = permit_mynetworks, reject_unauth_destination, reject_unverified_recipient
smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination

message_size_limit = 26214400
smtpd_client_connection_count_limit = 20
smtpd_client_connection_rate_limit = 30
smtpd_client_message_rate_limit = 60
anvil_rate_time_unit = 60s

smtpd_tls_security_level = may
smtpd_tls_cert_file = /etc/postfix/tls/mailwisp-fullchain.pem
smtpd_tls_key_file = /etc/postfix/tls/mailwisp-privkey.pem
smtpd_tls_protocols = >=TLSv1.2
smtpd_tls_mandatory_protocols = >=TLSv1.2
smtpd_tls_received_header = yes
smtp_tls_security_level = may

maillog_file = /var/log/postfix/mail.log
